In [1]:
import scanpy as sc
import pandas as pd
from scipy import io

In [2]:
raw_data_path = '/users/mp01950/GSE242894/raw_data/'
out = '/users/mp01950/GSE242894/raw_data/compass_input/'
data_source = {'GSM7774436':'GSM7774436_coculture1_hi_rc.txt','GSM7774437':'GSM7774437_coculture2_hi_rc.txt',
               'GSM7774438':'GSM7774438_coculture3_hi_rc.txt','GSM7774439':'GSM7774439_organoid1_hi_rc.txt',
               'GSM7774440':'GSM7774440_organoid2_hi_rc.txt','GSM7774441':'GSM7774441_organoid3_hi_rc.txt',
               'GSM7774442':'GSM7774442_iMac1_hi_rc.txt','GSM7774443':'GSM7774443_iMac2_hi_rc.txt'}
sample=['GSM7774436','GSM7774437','GSM7774438','GSM7774439','GSM7774440','GSM7774441','GSM7774442','GSM7774443']
target_cell = 'add'

In [3]:
#Combined all samples into one dataframe
for i in range(len(sample)):
    globals()[sample[i]] =  sc.read_text(raw_data_path+data_source[sample[i]], delimiter='\t', first_column_names=True)
    globals()[sample[i]] = globals()[sample[i]].T
    globals()[sample[i]].var_names_make_unique()
adata = GSM7774436.concatenate(GSM7774437, GSM7774438, GSM7774439,GSM7774440,GSM7774441,GSM7774442,GSM7774443,batch_key = "Sample")
rename = []
for j in range(len(adata)):
    rename.append(adata.obs.index[j][0:-2])
adata.obs.index = rename

/tmp/ipykernel_1212815/2984806871.py:6: FutureWarning: Use anndata.concat instead of AnnData.concatenate, AnnData.concatenate is deprecated and will be removed in the future. See the tutorial for concat at: https://anndata.readthedocs.io/en/latest/concatenation.html
  adata = GSM7774436.concatenate(GSM7774437, GSM7774438, GSM7774439,GSM7774440,GSM7774441,GSM7774442,GSM7774443,batch_key = "Sample")

In [4]:
#Add meta_data to adata object
meta = pd.read_csv(raw_data_path+"coorg_mixed_org.csv", index_col=0)
#index_rename = []
#check_iMac = ['iMac2','iMac1']
#for i in range(len(meta)):
#    if meta.index[i][17:] in check_iMac:
#        index_rename.append(meta.index[i])
#    else:
#        index_rename.append(meta.index[i][0:-2])
#meta.index = index_rename
#rct = meta.revised_cell_type
#adata.obs['revised_cell_type'] = rct

In [5]:
meta

                      Sample revised_cell_type  leiden
AAACCTGAGCTAACAA-co1       0            co-NPC       4
AAACCTGAGGCAGGTT-co1       0            co-NPC       1
AAACCTGCACGTCTCT-co1       0            co-NPC       1
AAACCTGGTCTGCCAG-co1       0            co-NPC       1
AAACCTGGTGTCGCTG-co1       0         co-neuron      10
...                      ...               ...     ...
TTTGGTTTCCCTAACC-or3       5            neuron       6
TTTGTCAAGATTACCC-or3       5            neuron       6
TTTGTCAAGTAATCCC-or3       5               NPC       4
TTTGTCAAGTGCGTGA-or3       5               NPC       1
TTTGTCACACGCCAGT-or3       5               NPC       8

[6860 rows x 3 columns]

In [6]:
adata.obs

                       Sample
AAACCTGAGCTAACAA-co1        0
AAACCTGAGGCAGGTT-co1        0
AAACCTGCACGTCTCT-co1        0
AAACCTGGTCTGCCAG-co1        0
AAACCTGGTGTCGCTG-co1        0
...                       ...
TTTGGTTCAAGACACG-iMac2      7
TTTGGTTGTGCCTGCA-iMac2      7
TTTGTCAAGGGATACC-iMac2      7
TTTGTCAGTCTCTCTG-iMac2      7
TTTGTCAGTGCAACTT-iMac2      7

[9780 rows x 1 columns]

In [7]:
#adata.obs['revised_cell_type'].unique()

In [8]:
#Subset a target cell type
subset = adata[(adata.obs.index.isin(['AGCTCTCAGTTAAGTG-or1']))]

In [9]:
subset.obs

                     Sample
AGCTCTCAGTTAAGTG-or1      3

In [10]:
barcodes = subset.obs_names.tolist()
features = subset.var_names.tolist()
count_matrix = pd.DataFrame(subset.X.T)
count_matrix = count_matrix.set_axis(barcodes, axis=1)
count_matrix = count_matrix.set_axis(features, axis=0)
count_matrix.to_csv(out+target_cell+'.tsv', sep='\t', index=True, header=True)